black
bump2version==1.0.1
Click>=7.0
coverage==4.5.4
flake8==3.7.8
ipython>=7.13.0
jupyter-client>=7.0.6
jupyterlab-code-formatter>=1.2.2
jupyterlab>=2.0.1
matplotlib>=3.2.1
nbconvert>=6.0.7
nbformat>=5.0.4
pandas>=1.0.3
pip>=19.2.3
pre-commit>=2.15.0
pytest==4.6.5
pytest-cov==2.10.0
pytest-runner==5.1
recommonmark>=0.6.0
requests
seaborn>=0.10.0
sphinx>=4
twine==1.14.0
watchdog==0.9.0
wheel>=0.33.6
